<div class="p-4">
  <header class="mt-4 ms-4 mb-5">
    <h4>Export JSON files for discogs-app</h4>
  </header>

  <p class="ms-4">The JSON files for discog <%= @key %> have been written to
    folder <code><%= @key %></code> in <code>discogs-app-data</code>.</p>

  <div class="ms-4">
    <%= button_to "Next", action: "index"%>
  </div>
</div>