<div class="p-4">
  <header class="mt-4 ms-4 mb-5">
    <h4>Show tracks performed together by two musicians</h4>
  </header>

  <form class="row g-3 ms-4">
    <div class="col-auto">
      <label for="staticText" class="visually-hidden">Label</label>
      <input type="text" readonly class="form-control-plaintext" id="staticText" value="Choose two musicians">
    </div>
    <div class="col-auto">
      <div class="mb-4" +
           data-controller="autocomplete"
           data-autocomplete-min-length-value="3"
           data-autocomplete-url-value="/admin/musicians/autocomplete" role="combobox">
        <input type="text" data-autocomplete-target="input" required/>
        <input type="hidden" name="musician1" data-autocomplete-target="hidden"/>
        <ul class="list-group" data-autocomplete-target="results"></ul>
      </div>
      <div class="mb-4"
           data-controller="autocomplete"
           data-autocomplete-min-length-value="3"
           data-autocomplete-url-value="/admin/musicians/autocomplete" role="combobox">
        <input type="text" data-autocomplete-target="input" required/>
        <input type="hidden" name="musician2" data-autocomplete-target="hidden"/>
        <ul class="list-group" data-autocomplete-target="results"></ul>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary ms-5 mb-3">Retrieve Pairings</button>
      </div>
    </div>
  </form>
</div>